<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>"flask"</title>
</head>
<body>
<h1 style="background-color:powderblue;">Personal Form"</h1>

<form>
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname"><br>
  <label for="age">Age:</label><br>
  <input type="text" id="age" name="age"><br>
  <canvas id="myCanvas" width="200" height="100" style="border:1px solid #000000;"><br>
  </canvas>
</form>
</body>
</html>